/* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/memphis-colorful/ */

* {
    box-sizing: content-box;
  }

html {
  height: 100%;
}

main {
  margin: 0;
  height: 100%;
  width: 100%;
}

section {
  padding: 6% 0;
}

.about-page, .portfolio-page {
  overflow-y: auto;
  height: 90%;
}

body {                                            
  line-height: 1.5;
  text-align: center;
  background-image: url("https://user-images.githubusercontent.com/54642928/72388750-aaa97400-371e-11ea-9cd4-143a2c356f20.png");
  background-position: cover;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #ff6eaf;
  font-style: italic;
  text-align: left;
  font-size: 46px;
}

h2, h3, h4 {
  font-family: "Karla", sans-serif;
}

h2 {
  font-style: italic;
  text-align: center;
  font-size: 36px;
}

h3 {
  color: #ff6eaf;
  font-style: italic;
  text-align: center;
  padding-top: 5%;
  margin: 0;
  font-size: 28px;
}

h4 {
  margin: 0;
  margin-bottom: 2%;
  text-align: center;
  font-style: bold;
  font-size: 18px;
}

a, p, ul, footer {
  font-family: "Open Sans", sans-serif;
}

nav, footer {
  padding: 1% 0; 
}

footer {
  position: fixed;
  bottom: 0;
  right: 5px;
  font-style: italic;
  font-size: 8px;
  background-color: (255, 255, 255 .6);
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 2.5;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  line-height: 1.0;
  overflow: hidden;
  background-color: #d9b3ff;
}

#home, #about-page, #portfolio, #skills, #contact-page {
  color: #FFFFFF; 
  text-shadow: 0px 0px 5px #976391;
  text-decoration: none;
  font-size: 14px;
}

#home:hover, #about-page:hover, #portfolio:hover, #skills:hover, #contact-page:hover {
  cursor: pointer;
  background:#976391;
  text-decoration: underline #F9E0DD; 
}

#home:active, #about-page:active, #portfolio:active, #skills:active, #contact-page:active {
  background: #9BDEAC;
}

a {
  text-decoration: none; 
  color: #ff6eaf;
  padding: 2%;
  font-size: 12px;
}

a:hover {
  cursor: pointer;
  color: #976391;
  text-decoration: underline;
}

a:active {
  color: #9BDEAC;
}

.portfolio-landing {
  padding-top: 15%;
  padding-left: 2%;
  padding-right: 2%;
}

.current-skillset {
  padding: 10% 0;
}

.contact-info {
  padding: 30% 0; 
  height: 100%;
  overflow: hidden;
}

.about.page {
  display: flex;
  justify-content: space-between;
}

.portfolio-page {
  padding: 2%;
} 

#about-header {
  margin-bottom: 5%;
}

#about-1, #about-2 {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
}

#lang-1 {
  text-align: center;
  font-style: italic;
  font-size: 16px;
}

#description-1 {
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 13px;
}

#skill-list {
  font-size: 20px;
}

#quiz-sample1, #quiz-sample2 {
  height: 30%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#portrait-img {
  border-radius: 100%;
  height: 30%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#linkedin, #github, #email {
  position: relative;
  height: 80px;
  width: 80px;
  top: 75px;
  left: 5px;
  right: 5px;
}

/* Larger smartphones */
@media only screen and (min-width: 375px) {
  .portfolio-landing {
    padding-top: 30%;
  }

  .portfolio-page {
    padding-top: 5%;
  }
  
  .current-skillset {
    padding-top: 25%;
  } 

  a {
    font-size: 16px;
  }
}

/* iPads */
@media only screen and (min-width: 768px) {
  #home, #about-page, #portfolio, #skills, #contact-page, a {
    font-size: 32px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 68px;
  }

  h3 {
    font-size: 54px;
  }
  
  h4 {
    font-size: 32px;
  }

  #about-1, #about-2 {
    font-size: 26px;
  }

  #description-1 {
    font-size: 24px;
    padding-left: 2%;
    padding-right: 2%;
  }

  #lang-1  {
    font-size: 26px;
  }

  #skill-list {
    font-size: 36px;
  }

  footer {
    font-size: 14px;
  }

  .current-skillset {
    padding-top: 2%; 
  }

  .portfolio-landing {
    padding-top: 10%;
  }
 
  .current-skillset {
    overflow-y: auto;
    height: 90%;
  }

  #portrait-img {
    height: 50%;
    width: 60%;
  }  

  #quiz-sample1, #quiz-sample2 {
    height: 45%; 
    width: 85%;
  }

  #linkedin, #github, #email {
      height: 170px;
      width: 170px;
      padding: 2%;
    }
  
  .contact-info {
    padding-top: 20%;
  }
} 

/* Desktop */
@media only screen and (min-width: 1000px) {
  #home, #about-page, #portfolio, #skills, #contact-page {
    padding: 4%;
  }

  #description-1 {
    font-size: 28px;
    text-align: center;
    clear: both;
  }

  #quiz-sample1, #quiz-sample2 {
    height: 35%;
    width: 45%;
    margin-bottom: 15px;
  }

  #portrait-img {
    height: 60%;
    width: 60%;
  }  

  #quiz-sample1 {
    float: left;
    margin-left: 30px;
  }

  #quiz-sample2 {
    float: right;
    margin-right: 30px;
  }

  #about-1 {
    margin-bottom: -20px;
  }

  .contact-info {
    padding-top: 10%;
  }
} 

/* Larger resolutions (desktop) */
@media only screen and (min-width: 1200px) {  
  h3 {
    font-size: 70px;
    padding-top: 0;
  }

  h4 {
    font-size: 40px;
    margin-bottom: 0;
  }

  #about-header {
    margin-bottom: 0;
  }

  #portrait-img {
    height: 60%;
    width: 40%;
  }   

  #about-1, #about-2 {
    font-size: 36px;
  }

  #quiz-sample1, #quiz-sample2 {
    height: 50%;
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .current-skillset {
    padding-top: 5%;
  }

  #linkedin, #github, #email {
    height: 200px;
    width: 200px;
  }
}  
