/* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/memphis-colorful/ */

* {
    box-sizing: content-box;
  }
  
#home-header {
  font-family: "Poppins", sans-serif;
  color: #ff6eaf;
  font-style: italic;
}

h2, h3, h4 {
  font-family: "Karla", sans-serif;
}

h3 {
  color: #ff6eaf;
}

a, p, ul, footer {
  font-family: "Open Sans", sans-serif;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

body {
  font-size: 20px;                                                         
  line-height: 1.5;
  text-align: center;
  background-image: url("https://user-images.githubusercontent.com/54642928/72388750-aaa97400-371e-11ea-9cd4-143a2c356f20.png");
  background-position: cover;
}

nav, footer {
  padding: 1% 0; 
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 2.5;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #d9b3ff;
}

#home, #about-page, #portfolio, #skills, #contact-page {
  color: #FFFFFF; 
  text-shadow: 0px 0px 5px #976391;
  text-decoration: none;
}

@media only screen and (min-width: 320px) {
  #home, #about-page, #portfolio, #skills, #contact-page {
    font-size: 14px;
  }
  
  a {
    font-size: 12px;
    padding: 2%;
  }

  .portfolio-landing {
    padding-top: 15%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  h1 {
    text-align: left;
    font-size: 40px;
    font-style: bold;
  }

  h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;

  }

  h3 {
    font-size: 28px;
    font-style: italic;
    text-align: center;
    padding-top: 5%;
    margin: 0;
  }

  h4 {
    margin: 0;
    margin-bottom: 2%;
    font-size: 16px;
    text-align: center;
    font-style: bold;
  }

  footer {
    position: fixed;
    top: 0;
    right: 0;
    font-style: italic;
    padding-right: 5px;
  }

  .current-skillset, .contact-info {
    padding: 40% 0;
  }

  .about.page {
    display: flex;
    justify-content: space-between;
  }
  
  #about-header {
    margin-bottom: 5%;
  }

  #about-1, #about-2 {
    text-align: left;
    font-size: 13px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .portfolio-page {
    padding: 2%;
  }

  #lang-1  {
    text-align: center;
    font-size: 12px;
    font-style: italic;
  }

  #description-1 {
    font-size: 12px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  #quiz-sample1, #quiz-sample2 {
    height: 70%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  #portrait-img {
    border-radius: 100%;
    height: 65%;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #linkedin, #github, #email {
    height: 80px;
    width: 80px;
    position: relative;
    top: 65px;
    left: 5px;
    right: 5px;
  }

  footer {
    font-size: 8px;
  }
}

@media only screen and (min-width: 375px) {
  a {
    font-size: 16px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 34px;
  }
  
  h4 {
    font-size: 18px;
  }

  .portfolio-landing {
    padding-top: 20%;
  }

  .about-page {
    padding: 2%;
  }

  #about-1, #about-2 {
    margin: 0;
    margin-top: 5%;
    font-size: 16px;
  }

  #lang-1  {
    text-align: center;
    font-size: 16px;
    font-style: italic;
  }

  #description-1 {
    font-size: 15px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  #quiz-sample1, #quiz-sample2 {
    height: 70%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  #skill-list {
    font-size: 22px;
  }

  #linkedin, #github, #email {
    height: 90px;
    width: 90px;
    position: relative;
    top: 75px;
  }
}

@media only screen and (min-width: 768px) {
  #home, #about-page, #portfolio, #skills, #contact-page {
    font-size: 26px;
  }

  a {
    font-size: 26px;
  }
  
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 52px;
  }

  h3 {
    font-size: 50px;
  }
  
  h4 {
    font-size: 32px;
  }

  .portfolio-landing {
    padding-top: 30%;
  }

  #about-1, #about-2 {
    font-size: 24px;
  }

  #description-1 {
    font-size: 22px;
    padding-left: 2%;
    padding-right: 2%;
  }

  #lang-1  {
    font-size: 26px;
  }

  #skill-list {
    font-size: 36px;
  }

  .current-skillset {
    padding-top: 30%;
  }

  #portrait-img {
    border-radius: 100%;
    height: 55%;
    width: 55%;
  }  

  #quiz-sample1, #quiz-sample2 {
    height: 55%;
    width: 55%;
  }

  #linkedin, #github, #email {
      height: 170px;
      width: 170px;
      padding: 2%;
    }
  
  .contact-info {
    padding-top: 25%;
  }

  .current-skillset {
    padding-top: 25%;
  }

  footer {
    font-size: 14px;
  }
} 

@media only screen and (min-width: 1000px) {
  #home, #about-page, #portfolio, #skills, #contact-page {
    font-size: 32px;
    padding: 4%;
  }

  body {
    overflow: hidden;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 68px;
  }

  h3 {
    font-size: 66px;
  }

  .portfolio-landing {
    padding-top: 15%;
  }

  #portrait-img {
    border-radius: 100%;
    height: 45%;
    width: 45%;
  }  

  #about-1, #about-2 {
    font-size: 24px;
  }

  #description-1 {
    font-size: 28px;
    text-align: center;
    clear: both;
  }

  #quiz-sample1, #quiz-sample2 {
    height: 45%;
    width: 45%;
    margin-bottom: 30px;
  }

  #quiz-sample1 {
    float: left;
    margin-left: 35px;
  }

  #quiz-sample2 {
    float: right;
    margin-right: 35px;
  }

  .contact-info {
    padding-top: 20%;
  }

  .current-skillset {
    padding-top: 5%;
  }

  #linkedin, #github, #email {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  #home, #about-page, #portfolio, #skills, #contact-page {
    font-size: 34px;
    padding: 5%;
  }

  nav {
    line-height: 0.5;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 86px;
  }

  h3 {
    font-size: 70px;
    padding-top: 0;
  }

  h4 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .portfolio-landing {
    padding-top: 5%;
  }

  #about-header {
    margin-bottom: 0;
  }

  #portrait-img {
    border-radius: 100%;
    height: 25%;
    width: 25%;
  }  

  #about-1, #about-2 {
    font-size: 30px;
    margin-top: 2%;
  }

  #description-1 {
    font-size: 28px;
  }

  #lang-1 {
    font-size: 28px;
  }

  #quiz-sample1, #quiz-sample2 {
    height: 45%;
    width: 45%;
    margin-bottom: 20px;
  }

  #quiz-sample1 {
    float: left;
    margin-left: 80px;
  }

  #quiz-sample2 {
    float: right;
    margin-right: 80px;
  }

  .contact-info {
    padding-top: 5%;
  }

  .current-skillset {
    padding-top: 10%;
  }

  #linkedin, #github, #email {
    height: 200px;
    width: 200px;
    top: 55px;
    padding: 5%;
  }
}